@inherits DungeonMonsterDetailsBase

@inject Microsoft.Extensions.Localization.IStringLocalizer<DungeonMonsterDetails> localizer

<div class="monster">
    @if (DungeonMonster != null)
    {
        
        <div class="monster__details">
            <p class="monster__details--label">@localizer[nameof(DungeonMonster.MonsterLevel)]:</p>
            <p>@DungeonMonster.MonsterLevel</p>
            <p class="monster__details--label">@localizer[nameof(DungeonMonster.Class)]:</p>
            <p>@DungeonMonster.Class</p>
            <p class="monster__details--label">@localizer[nameof(DungeonMonster.Strength)]:</p>
            <p>@DungeonMonster.Strength</p>
            <p class="monster__details--label">@localizer[nameof(DungeonMonster.Dexterity)]:</p>
            <p>@DungeonMonster.Dexterity</p>
            <p class="monster__details--label">@localizer[nameof(DungeonMonster.Intelligence)]:</p>
            <p>@DungeonMonster.Intelligence</p>
            <p class="monster__details--label">@localizer[nameof(DungeonMonster.Constitution)]:</p>
            <p>@DungeonMonster.Constitution</p>
            <p class="monster__details--label">@localizer[nameof(DungeonMonster.Luck)]:</p>
            <p>@DungeonMonster.Luck</p>
            <p class="monster__details--label">@localizer[nameof(DungeonMonster.HitPoints)]:</p>
            <p>@DungeonMonster.HitPoints</p>
            <p class="monster__details--label">@localizer[nameof(DungeonMonster.Experience)]:</p>
            <p>@DungeonMonster.Experience</p>

        </div>
    }
</div>