@inherits DungeonMonsterDetailsBase


@if (DungeonMonster != null)
{
    <p><b>@DungeonMonster.MonsterName</b></p>
    <ul>
    <li>@DungeonMonster.MonsterName</li>
    <li>@DungeonMonster.Level</li>
    <li>@DungeonMonster.MonsterLevel</li>
    <li>@DungeonMonster.Class</li>
    <li>@DungeonMonster.Strength</li>
    <li>@DungeonMonster.Dexterity</li>
    <li>@DungeonMonster.Intelligence</li>
    <li>@DungeonMonster.Constitution</li>
    <li>@DungeonMonster.Luck</li>
    <li>@DungeonMonster.HitPoints</li>
    <li>@DungeonMonster.Experience</li>
    </ul>
}