@inherits DungeonSelectionBase

@using sfservice.UI.Components.DungeonMonsterSelection

<div class="dungeon">
    <EditForm EditContext="EditContext">
        <InputSelect @bind-Value="@ChosenDungeonId" class="form-control">
            <option value="0"></option>
            @foreach (var dungeon in Dungeons)
            {
                <option value="@dungeon.Number">@dungeon.Number - @dungeon.Name</option>
            }
        </InputSelect>

    </EditForm>


    @if (!string.IsNullOrEmpty(ChosenDungeonId))
    {
        <DungeonMonsterSelection DungeonNumber="@ChosenDungeonId" />
    }


</div>