@page "/dungeons"

@inherits DungeonsBase

@using sfservice.UI.Components.DungeonSelection
@using sfservice.UI.Components.DungeonMonsterSelection

<section class="dungeons">
    <h3 class="deungeons__header">Dungeons List</h3>

    @if (DungeonsList == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="dungeons__buttons">
            <button class="" @onclick="@(()=>AddDungeonSelection())">Add Section</button>
            <button class="" @onclick="@(() => ClearDungeons())">Clear</button>
        </div>

        <div class="dungeons__content">
            <DungeonSelection Dungeons="@DungeonsList" />

            @foreach (var dungeonNumber in ViewDungeonsList)
            {
            int local_d = dungeonNumber;
                <DungeonSelection Dungeons="@DungeonsList" />
                <button @onclick="@(() => RemoveDungeon(local_d))">X</button>
            }
        </div>
    }
</section>

<style>
    .dungeons {

    }
</style>

@code {
    List<int> ViewDungeonsList = new List<int>() { };

    int counter = 0;
    public void AddDungeonSelection()
    {
        counter++;
        ViewDungeonsList.Add(counter);
    }

    public void RemoveDungeon(int dungeonNumber)
    {
        ViewDungeonsList.RemoveAt(dungeonNumber);
    }

    public void ClearDungeons()
    {
        ViewDungeonsList.Clear();
    }
}