@page "/dungeons"

@inherits DungeonsBase

@using sfservice.UI.Components.DungeonSelection
@using sfservice.UI.Components.DungeonMonsterSelection

<h3>Dungeons List</h3>

@if (DungeonsList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <DungeonSelection Dungeons="@DungeonsList" />
    <p>@counter</p>

    <button @onclick="@(()=>AddDungeonSelection())">Add Section</button>
    for (int i = 0; i < counter; i++)
    {
        <DungeonSelection Dungeons="@DungeonsList" />
    }

    @*<DungeonSelection Dungeons="@DungeonsList" />

        <DungeonSelection Dungeons="@DungeonsList" />*@
}

@code {
    int counter = 0;
    public void AddDungeonSelection()
    {
        counter++;
    }
}