@page "/dungeons"

@inherits DungeonsBase

@using sfservice.UI.Components.DungeonSelection

<section class="dungeons">
    <h3 class="deungeons__header">Dungeons List</h3>

    @if (DungeonsList == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="dungeons__buttons">
            <button class="btn btn-primary" @onclick="@(()=>AddDungeonSelection())">Add Section</button>
            <button class="btn btn-secondary" @onclick="@(() => ClearDungeons())">Clear</button>
            <button class="btn btn-danger" @onclick="@(() => RemoveLastDungeon())">Remove last</button>
        </div>

        <div class="dungeons__content">
            <DungeonSelection Dungeons="@DungeonsList" />

            @foreach (var dungeonNumber in ViewDungeonsList)
            {
                <DungeonSelection Dungeons="@DungeonsList" />
            }
        </div>
    }
</section>

@code {
    List<int> ViewDungeonsList = new List<int>() { };

    int counter = 0;
    public void AddDungeonSelection()
    {
        counter++;
        ViewDungeonsList.Add(counter);
    }

    public void RemoveLastDungeon()
    {
        if(ViewDungeonsList.Count > 0 )
            ViewDungeonsList.RemoveAt(ViewDungeonsList.Count-1);
    }

    public void ClearDungeons()
    {
        ViewDungeonsList.Clear();
    }
}