@page "/dungeons"

@inherits DungeonsBase

@using sfservice.UI.Components.DungeonSelection
@using sfservice.UI.Components.DungeonMonsterSelection

<h3>Dungeons List</h3>

@if (DungeonsList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <DungeonSelection Dungeons="@DungeonsList" />

    <button @onclick="@(()=>AddDungeonSelection())">Add Section</button>
    <button @onclick="@(() => ClearDungeons())">Clear</button>
    @*for (int i = 0; i < ViewDungeonsList.Count ; i++)
        {
            int dungeonNumber = i;
            <DungeonSelection Dungeons="@DungeonsList" />
            <button @onclick="@(()=>RemoveDungeon(dungeonNumber))">X</button>
        }*@

    foreach (var dungeonNumber in ViewDungeonsList)
    {
    int local_d = dungeonNumber;
        <DungeonSelection Dungeons="@DungeonsList" />
        <button @onclick="@(() => RemoveDungeon(local_d))">X</button>
    }
}

@code {
    List<int> ViewDungeonsList = new List<int>() { };

    int counter = 0;
    public void AddDungeonSelection()
    {
        counter++;
        ViewDungeonsList.Add(counter);
    }

    public void RemoveDungeon(int dungeonNumber)
    {
        ViewDungeonsList.RemoveAt(dungeonNumber);
    }

    public void ClearDungeons()
    {
        ViewDungeonsList.Clear();
    }
}